// ===========================================
// Icons Styles
// ===========================================

.icon {
    width: 80px;
    height: 80px;
    background: #95FC87;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 2px rgba(0,0,0,0.24);
    border-radius: 15px;
    text-align: center;
    margin: auto;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &__image {
        box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 2px rgba(0,0,0,0.24);
        border-radius: 15px;
    }

    &__container {
        margin-bottom: 60px;
        flex-basis: 50%;

        @include tablet {
            flex-basis: 25%;
        }

        @include desktop {
            flex-basis: 16.6%;
        }
    }

    &__label {
        display: block;
        color: #000;
        transform: translateY(90px);
    }

    &--over {
        opacity: 0.3;
        width: 70px;
        height: 70px;
        background: transparent;
        border: 2px dashed #000;
        transition: all 0.2s ease-in-out;
    }

    &--grabbed {
        transform: scale(1.3);
        transition: all 0.2s ease-in-out;
        position: absolute;
        left: -1000px;
        top: 0px;
        z-index: -1;
    }

    &--dragging {
        animation: dragWiggle 0.35s linear infinite;
    }
}

@keyframes dragWiggle {
    25% {
        transform: rotate(2.5deg);
    }
    75% {
        transform: rotate(-2.5deg);
    }
}

// Create the classes for all of the icons
@for $i from 1 through 24 {
    .icon__#{$i}{
        background-image: url('~/../src/images/icons/' + $i + '.png');

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: url('~/../src/images/icons/' + $i + '@2x.png');
        }
    }
}